node_modules/
/node_modules/
/*/node_modules/
/*/node_modules
/*/*/node_modules/
/*/*/node_modules
/*/*/*/node_modules/
/*/*/*/node_modules
.venv/
/.venv/
/python/*/.venv/
/python/*/.venv
*.sql
/*/*.sql
**/*.sql
big.file